<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:social="http://www.springframework.org/schema/spring-social"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/social
		http://docs.spring.io/autorepo/schema/spring-social/current/social/spring-social-1.1.xsd
		http://www.springframework.org/schema/aop 
       	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">
        
	<beans:bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<beans:property name="location">
    		<beans:value>social.properties</beans:value>
  		</beans:property>
	</beans:bean>    
	
    <beans:import resource="classpath:/org/springframework/social/orcid/configuration.xml" />	
        
</beans:beans>